a.out
*.swp


.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc.user
/.tf_configure.bazelrc
/**/bazel-*
/**/bazel_pip
/**/python/kai_compiler_tf/kaicompiler-cli
/**/python/kai_compiler_tf/libtensorflow_framework.so.2
/**/python/model/frozen.pb
/**/python/model
/tools/python_bin_path.sh
/tensorflow/tools/git/gen
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
tensorflow/contrib/cmake/_build/
.idea/**
/build/
/build[\d]*/
[Bb]uild/
/tensorflow/core/util/version_info.cc
/tensorflow/python/framework/fast_tensor_util.cpp
/tensorflow/lite/gen/**
/tensorflow/lite/tools/make/downloads/**
/api_init_files_list.txt
/estimator_api_init_files_list.txt
*.whl
*.so
last_build.txt
/tf_pkg
/tmp
/libtf
log.txt
log*
tf_community_org/
.bazelrc_gen
tmp*
kaicompiler-cli
libtensorflow_framework.so.2
*egg*
dist
*.comp
.kai_tfbridge_ci_conf
.kai_bridge_ci_conf
.tf_configure.bazelrc
/**/*.pb.cc
/**/*.pb.h

cmake-build-debug*/
cmake-build-release/
